compute_environment: LOCAL_MACHINE
debug: false
# num_cpu_threads_per_process: 4
# dynamo_mode: max-autotune
# dynamo_config:
#   dynamo_backend: INDUCTOR
#   dynamo_mode: max-autotune
downcast_bf16: 'no'
enable_cpu_affinity: false
# Similar to FSDP, we set the distributed type as DEEPSPEED
distributed_type: DEEPSPEED
deepspeed_config:
  zero_stage: 3
  offload_param_device: cpu
  offload_optimizer_device: cpu
num_processes: 2
mixed_precision: bf16
parallelism_config:
  parallelism_config_dp_replicate_size: 1
  parallelism_config_dp_shard_size: 1  # Must satisfy: 1 × 1 × 2 = 2 num_processes
  parallelism_config_sp_size: 2
  parallelism_config_sp_backend: deepspeed
  parallelism_config_sp_seq_length_is_variable: true
  parallelism_config_sp_attn_implementation: flash_attention_2