compute_environment: LOCAL_MACHINE
debug: false
downcast_bf16: 'no'
enable_cpu_affinity: false
distributed_type: DEEPSPEED
deepspeed_config:
  zero_stage: 3
  offload_param_device: cpu
  offload_optimizer_device: cpu
  zero3_save_16bit_model: true
  deepspeed_multinode_launcher: standard
  zero3_init_flag: true
num_processes: 2
mixed_precision: bf16
# parallelism_config:
#   parallelism_config_dp_replicate_size: 1
#   parallelism_config_dp_shard_size: 1  # Must satisfy: 1 × 1 × 2 = 2 num_processes
#   parallelism_config_sp_size: 2
#   parallelism_config_sp_backend: deepspeed
#   parallelism_config_sp_seq_length_is_variable: true
#   parallelism_config_sp_attn_implementation: flash_attention_2